.gradle/
.idea/
gradle/
gradlew
gradlew.bat
HELP.md
settings.gradle
build/
out/

# hiding application.yaml

# exclude dev file
!src/main/resources/application-DEV.yaml
src/main/resources/application-**.yaml

# log
logs/